<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>CONTACTO</title>
</head>

<body>
  
    <header>
        <div class="contenedor">
            <nav class="menu">
                <a href="/EntregaFinal1/views/inicio.html">Inicio</a>
                <a href="/EntregaFinal1/views/acercadenosotros.html">Acerca de nosotros</a>
                <a href="/EntregaFinal1/views/productos.html">Productos</a>
                <a href="/EntregaFinal1/views/contacto.html">Contacto</a>
            </nav>

            <div class="contenedor-textos-header">
             <h1 class="tituloheader">BALI</h1>
             <div class="linea"></div>
             <h2 class="subtitulo-header">-Ceramica Artesanal-</h2>
             <a href="" class="contactanos">Contactanos</a>
            </div>
        </div>
            
    </header>

</body>
</html>